{% extends "base.html" %}
{% load static %}
{% block head %}

<link href="{% static 'css/home/index.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
{% endblock %}
{% block content %}

<div class="banner">
    <div class="bg bg-1"></div>
    <div class="bg bg-2"></div>
    <div class="bg bg-3"></div>
    <h1><img src="{% static 'img/logo.png'%}" alt="" class="incial"></h1>
    <div class="bg bg-4"></div>
    <div class="bg bg-5"></div>
    <div class="bg bg-6"></div>
    <div class="bg bg-7"></div>
    <div class="bg bg-8"></div>
    <div class="bg bg-9"></div>
</div>

<div class="tab intro">
    <h2 class="animation-show">Bitcoin Card</h2>
    <img src="{% static 'img/logo.png' %}" alt="" class="animation-show">
    <p class="animation-show">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque rem obcaecati libero eaque veniam est necessitatibus consectetur commodi non rerum, sapiente distinctio dignissimos! Dolorem eaque velit quam tenetur sapiente, qui veniam iste beatae officiis facilis aut expedita commodi, voluptatibus ullam voluptates! Explicabo, nisi. Odit, neque aliquid maiores minima cumque iusto?
    </p>
    <button class="animation-show">Subcribe</button>
</div>



<script src="{% static 'js/home/index.js' %}"></script>
{% endblock %}