<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Invoices</title>
    <!-- Seu CSS e JavaScript aqui -->
</head>
<body>
    <h1>Lista de Invoices</h1>
    <ul>
        {% for invoice in invoices %}
            <li>{{ invoice.amount }} - {{ invoice.currency }} - {{ invoice.payment_status }} - {{invoice.lightning_address}} - {{invoice.bitcoin_address}}</li>
        {% empty %}
            <li>Nenhuma invoice encontrada.</li>
        {% endfor %}
    </ul>
</body>
</html>
