{% load static %}

<link href="{% static 'css/items/register.css' %}" rel="stylesheet">

<div class="modal_register" id="upper-section">
    <input type="checkbox" name="setingModal" id="register_check">
    <div class="header">
      <img src="{% static 'img/san.png' %}" alt="">
      <img src="{% static 'img/btc.png' %}" alt="">
      <img src="{% static 'img/Lightning.png' %}" alt="">
      <button class="register2">x</button>
    </div>
    <div class="content">
        <div class="register_email active">
            <h2>Register by Email</h2>
            <form action="{% url 'register_email' %}" method="post">
                {% csrf_token %}
                <div class="input-box"> 
                    <span class="icon">
                        <ion-icon name="mail"></ion-icon>
                    </span>
                    <input type="email" id="email" name="email" required>
                    <label for="email">E-mail:</label>
                </div>
                <div class="input-box"> 
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password1" name="password1" required>
                    <label for="password1">Senha:</label>
                </div>
                <div class="input-box"> 
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password2" name="password2" required>
                    <label for="password2">Senha:</label>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <button type="button" class="register-token-button">Register Anonymously</button>
        </div>

        <div class="register_token">
            <h2>Register Anonymously</h2>
            <form action="{% url 'register_token' %}" method="post">
                {% csrf_token %}
                <div class="input-box"> 
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password1_token" name="password1" required>
                    <label for="password1_token">Senha:</label>
                </div>
                <div class="input-box"> 
                    <span class="icon">
                        <ion-icon name="lock-closed"></ion-icon>
                    </span>
                    <input type="password" id="password2_token" name="password2" required>
                    <label for="password2_token">Senha:</label>
                </div>
                <button type="submit" class="btn">Register</button>
            </form>
            <button type="button" class="register-email-button">Register by Email</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const registerTokenButton = document.querySelector('.register-token-button');
        const registerEmailButton = document.querySelector('.register-email-button');
        const registerTokenForm = document.querySelector('.register_token');
        const registerEmailForm = document.querySelector('.register_email');

        function showRegisterTokenForm() {
            registerTokenForm.style.display = 'block';
            registerEmailForm.style.display = 'none';
        }

        function showRegisterEmailForm() {
            registerEmailForm.style.display = 'block';
            registerTokenForm.style.display = 'none';
        }

        registerTokenButton.addEventListener('click', showRegisterTokenForm);
        registerEmailButton.addEventListener('click', showRegisterEmailForm);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const registerButtons = document.querySelectorAll('.btn');

        function passwordsValid(password1, password2) {
            const minLength = 8;
            return password1.value === password2.value && password1.value.length >= minLength;
        }

        function handleFormSubmit(event) {
            const form = event.target.closest('form');
            const password1Input = form.querySelector('input[id^="password1"]');
            const password2Input = form.querySelector('input[id^="password2"]');

            if (!passwordsValid(password1Input, password2Input)) {
                event.preventDefault();
                alert('As senhas não coincidem ou têm menos de 8 caracteres. Por favor, verifique novamente.');
            }
        }

        registerButtons.forEach(function(button) {
            button.addEventListener('click', handleFormSubmit);
        });
    });
</script>
