{% load static %}
<link href="{% static 'css/items/theme-switcher.css' %}" rel="stylesheet">

{% block head %} 
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
{% endblock %}

<div class="theme-switcher-container">
    <input type="checkbox" class="checkbox" id="chk" />
    <label class="label theme-toggle" for="chk">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
    </label>
</div>

{% block script %}

<script src="{% static 'js/items/theme-switcher.js' %}"></script>
{% endblock %}
